#EXPERIMENT No.5
##Title- To Study Set and Dictionaries In Python
## NAME: Ayush Dumbre
##PRN: 25070123029
##Batch: A-2(EnTC)

In [ ]:
#creation of sets
sets={'banana','apple'}
print(sets)

{'apple', 'banana'}

In [ ]:
#To check membership
thisset={'GUAVA','banana','mango'}
print('banana' in thisset)
print('apple' in thisset)

True
False

In [ ]:
#once set is created you can't replace its items
# But new items can be added
thisset={'grapes','lichhi'}
thisset.add('grapes')
print(thisset)

{'grapes', 'lichhi'}

In [ ]:
#Remove Item
thisset={'grapes','lichhi'}
thisset.remove('grapes')
print(thisset)

{'lichhi'}

In [ ]:
#set operation
a={1,2,3,4,5}
b={3,4,6,7}
print("union:",a|b)
print("intersection:",a&b)
print("difference:",a-b)
print("symmetric difference:",a^b)

union: {1, 2, 3, 4, 5, 6, 7}
intersection: {3, 4}
difference: {1, 2, 5}
symmetric difference: {1, 2, 5, 6, 7}

In [ ]:
#FROZENSET
l=frozenset({'ayush','arjit','bedang','kushal'})
print(l)
print(type(l))

frozenset({'kushal', 'ayush', 'arjit', 'bedang'})
<class 'frozenset'>

In [ ]:
#adding or removal from frozen set
l=frozenset({'ayush','arjit','bedang','kushal'})
print(l)
l.remove('ayush')
print(l)
l.add('ayush')
print(l)

frozenset({'kushal', 'ayush', 'arjit', 'bedang'})

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
'''Problem Statement 1:Unique Event Participants
 A college has a list of students who registered multiple times by mistake.
 Write program using set store participant names and display only unique
  participants'''
# Sample list of participant names (with duplicates)
participants = ["Ayush", "Bedang", "Ayush", "Raghav", "Bedang", "Arjit"]
# Use a set to store unique names
unique_participants = set(participants)
# Display the unique participants
print("Unique participants:")
for name in sorted(unique_participants):
    print(name)

Unique participants:
Arjit
Ayush
Bedang
Raghav

In [ ]:
''' Problem 2: 3 studnet choose elective subjects.
find common subjects chosen by all students using set operations'''
# Define sets for each student's elective subjects
rishab = {"Math", "Physics", "Chemistry"}
medha= {"Physics", "Chemistry", "Biology"}
anik= {"Chemistry", "Biology", "English"}
# Find common subjects:
common_subjects = rishab & medha & anik
print("Common subjects:", common_subjects)

Common subjects: {'Chemistry'}

In [ ]:
'''problem 3:one set contains students in the cricket club,
another in football club
find students who are:
1.in both clubs
2.in only one club
'''
# Define sets for each club
cricket_club = {"Ayush", "Bedang", "kavi","Messi"}
football_club = {"Bedang", "kavi", "Disha","Dhoni"}
both_clubs = cricket_club & football_club
only_one_club = cricket_club ^ football_club
print("Students in both clubs:", both_clubs)
print("Students in only one club:", only_one_club)

Students in both clubs: {'Bedang', 'kavi'}
Students in only one club: {'Ayush', 'Dhoni', 'Messi', 'Disha'}

In [ ]:
'''
problem 4:absent students
given a set off all students & a set of present students, find absent students
'''
all_students ={"Ayush", "Bedang", "kavi","Messi"}
present_students = {"kavi","Messi"}
absent_students = all_students - present_students
print("Absent students:", absent_students)

Absent students: {'Bedang', 'Ayush'}

In [ ]:
''' problem 5: Remove Invalid Entries
A set contains valid course codes.
Remove a discontinued course code from set.
'''
valid_courses = {"CS101", "MATH221", "ENG152", "BIO331"}
discontinued_course = "ENG152"
valid_courses.discard(discontinued_course)
print("Updated valid course codes:", valid_courses)

Updated valid course codes: {'BIO331', 'MATH221', 'CS101'}

#Dictionary

In [ ]:
#creation of a dictionary
thisdict={
    "brand":"ferrari",
    "model":"G7",
    "year":1884
}
thisdict

{'brand': 'ferrari', 'model': 'G7', 'year': 1884}

In [ ]:
#retriving values from a dictionary
thisdict={
    "brand":"ferrari",
    "model":"G7",
    "year":1884
}
print(thisdict["model"])

G7

In [ ]:
#dictionary takes lastest values for given key & overwrites the older keys
thisdict={
    "brand":"ferrari",
    "model":"G7",
    "year":1884,
    "year":2023
}
print(thisdict)

{'brand': 'ferrari', 'model': 'G7', 'year': 2023}

In [ ]:
#changing/adding value in a dictionary
thisdict={
    "brand":"ferrari",
    "model":"G7",
    "year":1884,
}
thisdict['color']='RED'
print(thisdict)
x=thisdict.values()
print(x)

{'brand': 'ferrari', 'model': 'G7', 'year': 1884, 'color': 'RED'}
dict_values(['ferrari', 'G7', 1884, 'RED'])

In [ ]:
#retrival of values
thisdict={
    "brand":"ferrari",
    "model":"G7",
    "year":1884,
}
print('BRAND=>',thisdict.get('brand'))
print('MODEL=>',thisdict.get('model'))

BRAND=> ferrari
MODEL=> G7

In [ ]:
#adding & updating values in  a dictionary
thisdict={
    "brand":"ferrari",
    "model":"G7",
    "year":1884,
}
thisdict["color"]="RED"
thisdict["model"]="G8"
print(thisdict)

{'brand': 'ferrari', 'model': 'G8', 'year': 1884, 'color': 'RED'}

In [ ]:
#remving elements
thisdict={
    "brand":"ferrari",
    "model":"G7",
    "year":1884,
    "color":"RED"
}
print(thisdict)
thisdict.pop("color")
print('after removal','\n',thisdict)

{'brand': 'ferrari', 'model': 'G7', 'year': 1884, 'color': 'RED'}
after removal
 {'brand': 'ferrari', 'model': 'G7', 'year': 1884}

In [1]:
'''1) A dictionary stores product names and their prices. Write a program to
update the price of a given product'''
# Dictionary storing product names and their prices
products = {
    "apple": 1.0,
    "banana": 0.5,
    "orange": 0.8
}

# Get user input for the product to update and the new price
product_to_update = input("Enter the product name to update: ")
new_price = float(input("Enter the new price: "))

# if the product exists & update the price
if product_to_update in products:
    products[product_to_update] = new_price
    print(f"Price of {product_to_update} updated to {new_price}")
else:
    print(f"Product '{product_to_update}' not found in the dictionary.")

# Printing the updated dictionary
print("Updated products dictionary:")
print(products)

Enter the product name to update: banana
Enter the new price: 5
Price of banana updated to 5.0
Updated products dictionary:
{'apple': 1.0, 'banana': 5.0, 'orange': 0.8}

In [ ]:
''' 2)A dictionary stores student names  and marks.
write a python program to search for a studnet's marks using name and if name
not found display a suitabke message accrodingly'''
students = {
    "Arnav": 85,
    "Bedang": 92,
    "Sukrut": 78,
    "Dhruv": 88
}
# Get user input:-
student_name = input("Enter the student name to search: ")
# Check if the student exists and display marks/message:-
if student_name in students:
    print(f"{student_name}'s marks: {students[student_name]}")
else:
    print(f"Student '{student_name}' not found in the records.")
# Print the students dictionary:-
print("Students dictionary:")
print(students)

In [2]:
'''3. a dictionary stores usernames and passwords. Write a python program to
validate user login'''
# Dictionary storing usernames and passwords
users = {
    "anik": "password123",
    "arjit": "pass1",
    "kushal": "pass2"
}
# Get user input for username and password
username = input("Enter username:")
password = input("Enter password:")
# Validate login
if username in users:
    if users[username] == password:
        print("Login successful!")
    else:
        print("Invalid password.")
else:
    print("Username not found.")
# Print the users dictionary for reference
print("Users dictionary:")
print(users)

Enter username:rishab
Enter password:4532pass
Username not found.
Users dictionary:
{'anik': 'password123', 'arjit': 'pass1', 'kushal': 'pass2'}

In [3]:
'''4. a dictionary stores usernames and marks. Write a python program to
find studnet who scored the highest marks'''
# Dictionary with student names and marks
students = {
    "Arjit": 85,
    "anik": 92,
    "Arjun": 78,
    "Bedang": 88,
    "Ayush": 95
}
#Find the highest mark:
highest_marks = max(students.values())
#Find who got that mark (without list comprehension)
topper = []
for name in students:
    if students[name] == highest_marks:
        topper.append(name)
#Showing results:
if len(topper) == 1:
    print("Top student:", topper[0], "->", highest_marks, "marks")
else:
    print("Top students:", ",".join(topper), "->", highest_marks, "marks each")

Top student: Ayush -> 95 marks